* {
    margin: 0;
}

header {

}

.header {
    display: flex;
    justify-content: space-between;
}

.left_row, .center_row, .right_row {
    display: flex;
    width: 33.3333%;
    justify-content: space-around;
}

.btn_head {
    border: 0.1px solid rgb(232, 232, 232);
    border-radius: 5px;
    padding: 4px 10px;
    font-size: 12px;
    line-height: 18px;
}